/*
 * Clymbr CSS
 */
#clymbr-app .title {
    margin-top: 38px;
    width: 100%;
    text-align: center;
}

#clymbr-app .content .login {
    width: 250px;
    margin: 45px auto 25px auto;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 10px 45px;
    background: rgba(75, 202, 253, 0.04);
}

#clymbr-app .content .profile-edit {
    width: 500px;
    margin: 45px auto 25px auto;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 10px 45px;
}

#clymbr-app .content .profile-edit .personal-info {
    width: 250px;
    float: left;
}

#clymbr-app .content .profile-edit .climbing-locations-container {
    width: 250px;
    float: right;
}
